rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth.uid == userId;
      allow update: if request.auth.uid == userId && !request.resource.data.role exists && !request.resource.data.verified exists;
    }
    match /jobs/{jobId} {
      allow read: if resource.data.createdBy == request.auth.uid;
      allow create: if request.resource.data.createdBy == request.auth.uid && request.resource.data.createdAt == request.time;
      allow update: if resource.data.createdBy == request.auth.uid;
    }
    match /ratings/{ratingId} {
      allow read: if resource.data.raterId == request.auth.uid || resource.data.ratedId == request.auth.uid;
      allow create: if request.resource.data.raterId == request.auth.uid;
    }
    match /admin/{document=**} {
      allow read, write: if request.auth.email == 'admin@veettukkar.app';
    }
  }
}
